aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
alterator-entry==0.4.1
altgraph==0.17.4
ansible-compat==25.6.0
ansible-core==2.18.6
ansible-lint==25.6.1
apipkg==3.0.2
appdirs==1.4.4
arrow==1.3.0
astor==0.8.1
astroid==3.3.10
asttokens==3.0.0
asyncssh==2.21.0
attrs==25.3.0
autocommand==2.2.2
Automat==25.4.16
bcrypt==3.2.2
beautifulsoup4==4.13.4
black==25.1.0
boolean.py==5.0
bracex==2.4
Brlapi==0.8.6
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.2.1
configobj==5.0.9
constantly==15.1.0
cryptography==45.0.3
cssselect==1.3.0
CT3==3.4.0
cupshelpers==1.0
cycler==0.12.1
cyclonedx-bom==6.1.2
cyclonedx-py==1.0.1
cyclonedx-python-lib==10.2.0
decorator==5.2.1
defusedxml==0.7.1
dill==0.4.0
distro==1.8.0
dnspython==2.6.1
docutils==0.21.2
elementpath==5.0.2
evdev==1.9.2
eventlet==0.40.0
executing==2.2.0
filelock==3.18.0
fqdn==1.5.1
frozenlist==1.5.0
Genshi==0.7.9
gevent==24.11.1
graphviz==0.21
greenlet==3.2.3
gssapi==1.9.0
gunicorn==23.0.0
h2==4.1.0
hidapi==0.14.0
hpack==4.0.0
html5lib==1.1
hyperframe==6.0.1
hyperlink==21.0.0
icoextract==0.2.0
idna==3.10
importlib_metadata==8.7.0
incremental==22.10.0
iniconfig==2.1.0
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
isort==6.0.1
jaraco.context==6.0.1
jaraco.functools==4.2.1
jaraco.text==4.0.0
Jinja2==3.1.6
json-spec==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2024.10.1
jupyter_core==5.8.1
kiwisolver @ file:///usr/src/RPM/BUILD/kiwi-1.4.8/dist/kiwisolver-1.4.8-cp312-cp312-linux_x86_64.whl#sha256=7a5c746fec2ac2a98bb70c36b65c5c7b3ae8235d65c02bf101fa984bb7b806bc
lib4package==0.3.3
lib4sbom==0.8.5
libevdev==0.12
libvirt-python==11.0.0
license-expression==30.4.3
lxml==5.4.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mechanize==0.4.10
more-itertools==10.7.0
multidict==6.5.1
mypy_extensions==1.1.0
nautilus-open-any-terminal==0.0.0
nftables==0.1
numpy==2.2.6
objgraph==3.6.2
olefile==0.47
outcome==1.3.0
packageurl-python==0.17.1
packaging==25.0
paramiko==3.5.1
passlib==1.7.4
Paste==3.10.1
PasteDeploy==3.1.0
PasteScript==3.7.0
pathspec==0.12.1
patool==2.2.0
pefile==2024.8.26
pickleshare==0.7.5
pillow==11.2.1
pip-requirements-parser==32.0.1
pipdeptree==2.26.1
platformdirs==4.3.8
pluggy==1.6.0
priority==2.0.0
prompt_toolkit==3.0.51
propcache==0.2.1
protobuf==4.25.5
ps-mem==3.12
psutil==7.0.0
psycopg2==2.9.10
pure_eval==0.2.3
py==1.11.0
py-serializable==2.0.0
py3dephell==0.3.1
pycairo==1.28.0
pycares==4.9.0
pycparser==2.22
pycryptodome==3.23.0
pycups==2.0.4
pyelftools==0.32
pyglet==1.5.30
Pygments==2.19.2
PyGObject==3.52.3
pygraphviz==1.11
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.3
pylint==3.3.7
PyNaCl==1.5.0
PyOgg==0.6.13a1
PyOpenGL==3.1.9
pyOpenSSL==25.1.0
pyparsing==3.2.3
pyperclip==1.9.0
pypresence==4.3.0
PyQt5==5.15.10
PyQt5_sip==12.15.0
PyQt6==6.8.1
PyQt6_sip==13.6.0
pyserial==3.5
pyshark==0.6
pysmbc==1.0.25.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dbusmock==0.35.0
python-magic==0.4.27
python3-openid==3.2.0
pyudev==0.24.3
pyusb==1.3.1
pyxdg==0.28
PyYAML==6.0.2
railroad-diagrams==3.0.1
referencing==0.36.2
requests==2.31.0
requests-file==1.5.1
resolvelib==1.2.0
rfc3339-validator==0.1.4
rfc3987==1.3.8
roman-numerals-py==3.1.0
rpds-py==0.25.1
ruamel.yaml==0.18.5
sbom2dot==0.3.2
sbom4files==0.4.5
sbom4python==0.12.4
semantic-version==2.10.0
setproctitle==1.3.6
setuptools==80.9.0
shtab==1.7.1
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
sshuttle==1.3.1
stack_data==0.6.3
subprocess-tee==0.4.2
termcolor==3.1.0
terminator==2.1.5
testpath==0.6.0
tldextract==5.3.0
tldr==3.4.0
tomlkit==0.13.3
tornado==6.5.1
traitlets==5.14.3
trio==0.30.0
Twisted==24.11.0
types-python-dateutil==2.9.0.20250516
typing_extensions==4.14.0
uri-template==1.3.0
urllib3==2.5.0
uv==0.7.15
wcmatch==8.5
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websockets==14.1
wheel==0.45.1
xmlschema==4.1.0
yamllint==1.37.1
yarl==1.18.3
yt-dlp==2025.6.9
zipp==3.23.0
zope.event==5.0
zope.interface==7.2
